body {
    background-color: white;
    font-family: 'Roboto Slab', serif;
}
#main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
canvas {
    width:700px;
}

div {
    margin-bottom: .5em;
    margin-top: .75em;
}